# Supabase Configuration
SUPABASE_URL=https://zziponivvdxulhjecbuc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp6aXBvbml2dmR4dWxoamVjYnVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEzMTE4MDAsImV4cCI6MjA2Njg4NzgwMH0.684r1pjHP8MsGZh_qYhfQ66keI2cTiryB8bwWZfL7EU

# AI Configuration
OPENAI_API_BASE=https://dashscope-intl.aliyuncs.com/compatible-mode/v1
OPENAI_API_KEY=sk-782bd5df7ce54826852d75845e12dd7b

# Environment
NODE_ENV=development
